/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$download_icon_name = 'download-icon';
$download_icon_x = 0px;
$download_icon_y = 127px;
$download_icon_offset_x = 0px;
$download_icon_offset_y = -127px;
$download_icon_width = 13px;
$download_icon_height = 15px;
$download_icon_total_width = 455px;
$download_icon_total_height = 142px;
$download_icon_image = '../img/spritesheet.png';
$download_icon = 0px 127px 0px -127px 13px 15px 455px 142px '../img/spritesheet.png' 'download-icon';
$eng_ver_icon_name = 'eng-ver-icon';
$eng_ver_icon_x = 93px;
$eng_ver_icon_y = 106px;
$eng_ver_icon_offset_x = -93px;
$eng_ver_icon_offset_y = -106px;
$eng_ver_icon_width = 19px;
$eng_ver_icon_height = 12px;
$eng_ver_icon_total_width = 455px;
$eng_ver_icon_total_height = 142px;
$eng_ver_icon_image = '../img/spritesheet.png';
$eng_ver_icon = 93px 106px -93px -106px 19px 12px 455px 142px '../img/spritesheet.png' 'eng-ver-icon';
$fb_logo_hover_name = 'fb-logo-hover';
$fb_logo_hover_x = 242px;
$fb_logo_hover_y = 71px;
$fb_logo_hover_offset_x = -242px;
$fb_logo_hover_offset_y = -71px;
$fb_logo_hover_width = 32px;
$fb_logo_hover_height = 33px;
$fb_logo_hover_total_width = 455px;
$fb_logo_hover_total_height = 142px;
$fb_logo_hover_image = '../img/spritesheet.png';
$fb_logo_hover = 242px 71px -242px -71px 32px 33px 455px 142px '../img/spritesheet.png' 'fb-logo-hover';
$fb_logo_name = 'fb-logo';
$fb_logo_x = 276px;
$fb_logo_y = 71px;
$fb_logo_offset_x = -276px;
$fb_logo_offset_y = -71px;
$fb_logo_width = 32px;
$fb_logo_height = 33px;
$fb_logo_total_width = 455px;
$fb_logo_total_height = 142px;
$fb_logo_image = '../img/spritesheet.png';
$fb_logo = 276px 71px -276px -71px 32px 33px 455px 142px '../img/spritesheet.png' 'fb-logo';
$google_logo_hover_name = 'google-logo-hover';
$google_logo_hover_x = 106px;
$google_logo_hover_y = 71px;
$google_logo_hover_offset_x = -106px;
$google_logo_hover_offset_y = -71px;
$google_logo_hover_width = 32px;
$google_logo_hover_height = 33px;
$google_logo_hover_total_width = 455px;
$google_logo_hover_total_height = 142px;
$google_logo_hover_image = '../img/spritesheet.png';
$google_logo_hover = 106px 71px -106px -71px 32px 33px 455px 142px '../img/spritesheet.png' 'google-logo-hover';
$google_logo_name = 'google-logo';
$google_logo_x = 140px;
$google_logo_y = 71px;
$google_logo_offset_x = -140px;
$google_logo_offset_y = -71px;
$google_logo_width = 32px;
$google_logo_height = 33px;
$google_logo_total_width = 455px;
$google_logo_total_height = 142px;
$google_logo_image = '../img/spritesheet.png';
$google_logo = 140px 71px -140px -71px 32px 33px 455px 142px '../img/spritesheet.png' 'google-logo';
$header_logo_main_name = 'header-logo-main';
$header_logo_main_x = 0px;
$header_logo_main_y = 71px;
$header_logo_main_offset_x = 0px;
$header_logo_main_offset_y = -71px;
$header_logo_main_width = 70px;
$header_logo_main_height = 54px;
$header_logo_main_total_width = 455px;
$header_logo_main_total_height = 142px;
$header_logo_main_image = '../img/spritesheet.png';
$header_logo_main = 0px 71px 0px -71px 70px 54px 455px 142px '../img/spritesheet.png' 'header-logo-main';
$inst_logo_hover_name = 'inst-logo-hover';
$inst_logo_hover_x = 208px;
$inst_logo_hover_y = 71px;
$inst_logo_hover_offset_x = -208px;
$inst_logo_hover_offset_y = -71px;
$inst_logo_hover_width = 32px;
$inst_logo_hover_height = 33px;
$inst_logo_hover_total_width = 455px;
$inst_logo_hover_total_height = 142px;
$inst_logo_hover_image = '../img/spritesheet.png';
$inst_logo_hover = 208px 71px -208px -71px 32px 33px 455px 142px '../img/spritesheet.png' 'inst-logo-hover';
$inst_logo_name = 'inst-logo';
$inst_logo_x = 72px;
$inst_logo_y = 71px;
$inst_logo_offset_x = -72px;
$inst_logo_offset_y = -71px;
$inst_logo_width = 32px;
$inst_logo_height = 33px;
$inst_logo_total_width = 455px;
$inst_logo_total_height = 142px;
$inst_logo_image = '../img/spritesheet.png';
$inst_logo = 72px 71px -72px -71px 32px 33px 455px 142px '../img/spritesheet.png' 'inst-logo';
$mail_to_icon_hover_name = 'mail-to-icon-hover';
$mail_to_icon_hover_x = 72px;
$mail_to_icon_hover_y = 106px;
$mail_to_icon_hover_offset_x = -72px;
$mail_to_icon_hover_offset_y = -106px;
$mail_to_icon_hover_width = 19px;
$mail_to_icon_hover_height = 12px;
$mail_to_icon_hover_total_width = 455px;
$mail_to_icon_hover_total_height = 142px;
$mail_to_icon_hover_image = '../img/spritesheet.png';
$mail_to_icon_hover = 72px 106px -72px -106px 19px 12px 455px 142px '../img/spritesheet.png' 'mail-to-icon-hover';
$mail_to_icon_name = 'mail-to-icon';
$mail_to_icon_x = 114px;
$mail_to_icon_y = 106px;
$mail_to_icon_offset_x = -114px;
$mail_to_icon_offset_y = -106px;
$mail_to_icon_width = 19px;
$mail_to_icon_height = 12px;
$mail_to_icon_total_width = 455px;
$mail_to_icon_total_height = 142px;
$mail_to_icon_image = '../img/spritesheet.png';
$mail_to_icon = 114px 106px -114px -106px 19px 12px 455px 142px '../img/spritesheet.png' 'mail-to-icon';
$mouse_icon_hover_name = 'mouse-icon-hover';
$mouse_icon_hover_x = 367px;
$mouse_icon_hover_y = 71px;
$mouse_icon_hover_offset_x = -367px;
$mouse_icon_hover_offset_y = -71px;
$mouse_icon_hover_width = 21px;
$mouse_icon_hover_height = 32px;
$mouse_icon_hover_total_width = 455px;
$mouse_icon_hover_total_height = 142px;
$mouse_icon_hover_image = '../img/spritesheet.png';
$mouse_icon_hover = 367px 71px -367px -71px 21px 32px 455px 142px '../img/spritesheet.png' 'mouse-icon-hover';
$mouse_icon_name = 'mouse-icon';
$mouse_icon_x = 344px;
$mouse_icon_y = 71px;
$mouse_icon_offset_x = -344px;
$mouse_icon_offset_y = -71px;
$mouse_icon_width = 21px;
$mouse_icon_height = 32px;
$mouse_icon_total_width = 455px;
$mouse_icon_total_height = 142px;
$mouse_icon_image = '../img/spritesheet.png';
$mouse_icon = 344px 71px -344px -71px 21px 32px 455px 142px '../img/spritesheet.png' 'mouse-icon';
$popup_close_hover_name = 'popup-close-hover';
$popup_close_hover_x = 390px;
$popup_close_hover_y = 71px;
$popup_close_hover_offset_x = -390px;
$popup_close_hover_offset_y = -71px;
$popup_close_hover_width = 22px;
$popup_close_hover_height = 21px;
$popup_close_hover_total_width = 455px;
$popup_close_hover_total_height = 142px;
$popup_close_hover_image = '../img/spritesheet.png';
$popup_close_hover = 390px 71px -390px -71px 22px 21px 455px 142px '../img/spritesheet.png' 'popup-close-hover';
$popup_close_name = 'popup-close';
$popup_close_x = 414px;
$popup_close_y = 71px;
$popup_close_offset_x = -414px;
$popup_close_offset_y = -71px;
$popup_close_width = 22px;
$popup_close_height = 21px;
$popup_close_total_width = 455px;
$popup_close_total_height = 142px;
$popup_close_image = '../img/spritesheet.png';
$popup_close = 414px 71px -414px -71px 22px 21px 455px 142px '../img/spritesheet.png' 'popup-close';
$popup_success_name = 'popup-success';
$popup_success_x = 0px;
$popup_success_y = 0px;
$popup_success_offset_x = 0px;
$popup_success_offset_y = 0px;
$popup_success_width = 455px;
$popup_success_height = 69px;
$popup_success_total_width = 455px;
$popup_success_total_height = 142px;
$popup_success_image = '../img/spritesheet.png';
$popup_success = 0px 0px 0px 0px 455px 69px 455px 142px '../img/spritesheet.png' 'popup-success';
$submenu_close_name = 'submenu-close';
$submenu_close_x = 438px;
$submenu_close_y = 71px;
$submenu_close_offset_x = -438px;
$submenu_close_offset_y = -71px;
$submenu_close_width = 14px;
$submenu_close_height = 15px;
$submenu_close_total_width = 455px;
$submenu_close_total_height = 142px;
$submenu_close_image = '../img/spritesheet.png';
$submenu_close = 438px 71px -438px -71px 14px 15px 455px 142px '../img/spritesheet.png' 'submenu-close';
$twitter_logo_hover_name = 'twitter-logo-hover';
$twitter_logo_hover_x = 310px;
$twitter_logo_hover_y = 71px;
$twitter_logo_hover_offset_x = -310px;
$twitter_logo_hover_offset_y = -71px;
$twitter_logo_hover_width = 32px;
$twitter_logo_hover_height = 33px;
$twitter_logo_hover_total_width = 455px;
$twitter_logo_hover_total_height = 142px;
$twitter_logo_hover_image = '../img/spritesheet.png';
$twitter_logo_hover = 310px 71px -310px -71px 32px 33px 455px 142px '../img/spritesheet.png' 'twitter-logo-hover';
$twitter_logo_name = 'twitter-logo';
$twitter_logo_x = 174px;
$twitter_logo_y = 71px;
$twitter_logo_offset_x = -174px;
$twitter_logo_offset_y = -71px;
$twitter_logo_width = 32px;
$twitter_logo_height = 33px;
$twitter_logo_total_width = 455px;
$twitter_logo_total_height = 142px;
$twitter_logo_image = '../img/spritesheet.png';
$twitter_logo = 174px 71px -174px -71px 32px 33px 455px 142px '../img/spritesheet.png' 'twitter-logo';
$spritesheet_width = 455px;
$spritesheet_height = 142px;
$spritesheet_image = '../img/spritesheet.png';
$spritesheet_sprites = $download_icon $eng_ver_icon $fb_logo_hover $fb_logo $google_logo_hover $google_logo $header_logo_main $inst_logo_hover $inst_logo $mail_to_icon_hover $mail_to_icon $mouse_icon_hover $mouse_icon $popup_close_hover $popup_close $popup_success $submenu_close $twitter_logo_hover $twitter_logo;
$spritesheet = 455px 142px '../img/spritesheet.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
