/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$eng_ver_icon_name = 'eng-ver-icon';
$eng_ver_icon_x = 114px;
$eng_ver_icon_y = 91px;
$eng_ver_icon_offset_x = -114px;
$eng_ver_icon_offset_y = -91px;
$eng_ver_icon_width = 19px;
$eng_ver_icon_height = 12px;
$eng_ver_icon_total_width = 138px;
$eng_ver_icon_total_height = 124px;
$eng_ver_icon_image = '../img/spritesheet.png';
$eng_ver_icon = 114px 91px -114px -91px 19px 12px 138px 124px '../img/spritesheet.png' 'eng-ver-icon';
$fb_logo_hover_name = 'fb-logo-hover';
$fb_logo_hover_x = 0px;
$fb_logo_hover_y = 91px;
$fb_logo_hover_offset_x = 0px;
$fb_logo_hover_offset_y = -91px;
$fb_logo_hover_width = 32px;
$fb_logo_hover_height = 33px;
$fb_logo_hover_total_width = 138px;
$fb_logo_hover_total_height = 124px;
$fb_logo_hover_image = '../img/spritesheet.png';
$fb_logo_hover = 0px 91px 0px -91px 32px 33px 138px 124px '../img/spritesheet.png' 'fb-logo-hover';
$fb_logo_name = 'fb-logo';
$fb_logo_x = 0px;
$fb_logo_y = 56px;
$fb_logo_offset_x = 0px;
$fb_logo_offset_y = -56px;
$fb_logo_width = 32px;
$fb_logo_height = 33px;
$fb_logo_total_width = 138px;
$fb_logo_total_height = 124px;
$fb_logo_image = '../img/spritesheet.png';
$fb_logo = 0px 56px 0px -56px 32px 33px 138px 124px '../img/spritesheet.png' 'fb-logo';
$google_logo_hover_name = 'google-logo-hover';
$google_logo_hover_x = 34px;
$google_logo_hover_y = 56px;
$google_logo_hover_offset_x = -34px;
$google_logo_hover_offset_y = -56px;
$google_logo_hover_width = 32px;
$google_logo_hover_height = 33px;
$google_logo_hover_total_width = 138px;
$google_logo_hover_total_height = 124px;
$google_logo_hover_image = '../img/spritesheet.png';
$google_logo_hover = 34px 56px -34px -56px 32px 33px 138px 124px '../img/spritesheet.png' 'google-logo-hover';
$google_logo_name = 'google-logo';
$google_logo_x = 68px;
$google_logo_y = 56px;
$google_logo_offset_x = -68px;
$google_logo_offset_y = -56px;
$google_logo_width = 32px;
$google_logo_height = 33px;
$google_logo_total_width = 138px;
$google_logo_total_height = 124px;
$google_logo_image = '../img/spritesheet.png';
$google_logo = 68px 56px -68px -56px 32px 33px 138px 124px '../img/spritesheet.png' 'google-logo';
$header_logo_main_name = 'header-logo-main';
$header_logo_main_x = 0px;
$header_logo_main_y = 0px;
$header_logo_main_offset_x = 0px;
$header_logo_main_offset_y = 0px;
$header_logo_main_width = 70px;
$header_logo_main_height = 54px;
$header_logo_main_total_width = 138px;
$header_logo_main_total_height = 124px;
$header_logo_main_image = '../img/spritesheet.png';
$header_logo_main = 0px 0px 0px 0px 70px 54px 138px 124px '../img/spritesheet.png' 'header-logo-main';
$inst_logo_hover_name = 'inst-logo-hover';
$inst_logo_hover_x = 106px;
$inst_logo_hover_y = 35px;
$inst_logo_hover_offset_x = -106px;
$inst_logo_hover_offset_y = -35px;
$inst_logo_hover_width = 32px;
$inst_logo_hover_height = 33px;
$inst_logo_hover_total_width = 138px;
$inst_logo_hover_total_height = 124px;
$inst_logo_hover_image = '../img/spritesheet.png';
$inst_logo_hover = 106px 35px -106px -35px 32px 33px 138px 124px '../img/spritesheet.png' 'inst-logo-hover';
$inst_logo_name = 'inst-logo';
$inst_logo_x = 72px;
$inst_logo_y = 0px;
$inst_logo_offset_x = -72px;
$inst_logo_offset_y = 0px;
$inst_logo_width = 32px;
$inst_logo_height = 33px;
$inst_logo_total_width = 138px;
$inst_logo_total_height = 124px;
$inst_logo_image = '../img/spritesheet.png';
$inst_logo = 72px 0px -72px 0px 32px 33px 138px 124px '../img/spritesheet.png' 'inst-logo';
$mail_to_icon_hover_name = 'mail-to-icon-hover';
$mail_to_icon_hover_x = 72px;
$mail_to_icon_hover_y = 35px;
$mail_to_icon_hover_offset_x = -72px;
$mail_to_icon_hover_offset_y = -35px;
$mail_to_icon_hover_width = 19px;
$mail_to_icon_hover_height = 12px;
$mail_to_icon_hover_total_width = 138px;
$mail_to_icon_hover_total_height = 124px;
$mail_to_icon_hover_image = '../img/spritesheet.png';
$mail_to_icon_hover = 72px 35px -72px -35px 19px 12px 138px 124px '../img/spritesheet.png' 'mail-to-icon-hover';
$mail_to_icon_name = 'mail-to-icon';
$mail_to_icon_x = 106px;
$mail_to_icon_y = 70px;
$mail_to_icon_offset_x = -106px;
$mail_to_icon_offset_y = -70px;
$mail_to_icon_width = 19px;
$mail_to_icon_height = 12px;
$mail_to_icon_total_width = 138px;
$mail_to_icon_total_height = 124px;
$mail_to_icon_image = '../img/spritesheet.png';
$mail_to_icon = 106px 70px -106px -70px 19px 12px 138px 124px '../img/spritesheet.png' 'mail-to-icon';
$mouse_icon_hover_name = 'mouse-icon-hover';
$mouse_icon_hover_x = 68px;
$mouse_icon_hover_y = 91px;
$mouse_icon_hover_offset_x = -68px;
$mouse_icon_hover_offset_y = -91px;
$mouse_icon_hover_width = 21px;
$mouse_icon_hover_height = 32px;
$mouse_icon_hover_total_width = 138px;
$mouse_icon_hover_total_height = 124px;
$mouse_icon_hover_image = '../img/spritesheet.png';
$mouse_icon_hover = 68px 91px -68px -91px 21px 32px 138px 124px '../img/spritesheet.png' 'mouse-icon-hover';
$mouse_icon_name = 'mouse-icon';
$mouse_icon_x = 91px;
$mouse_icon_y = 91px;
$mouse_icon_offset_x = -91px;
$mouse_icon_offset_y = -91px;
$mouse_icon_width = 21px;
$mouse_icon_height = 32px;
$mouse_icon_total_width = 138px;
$mouse_icon_total_height = 124px;
$mouse_icon_image = '../img/spritesheet.png';
$mouse_icon = 91px 91px -91px -91px 21px 32px 138px 124px '../img/spritesheet.png' 'mouse-icon';
$twitter_logo_hover_name = 'twitter-logo-hover';
$twitter_logo_hover_x = 34px;
$twitter_logo_hover_y = 91px;
$twitter_logo_hover_offset_x = -34px;
$twitter_logo_hover_offset_y = -91px;
$twitter_logo_hover_width = 32px;
$twitter_logo_hover_height = 33px;
$twitter_logo_hover_total_width = 138px;
$twitter_logo_hover_total_height = 124px;
$twitter_logo_hover_image = '../img/spritesheet.png';
$twitter_logo_hover = 34px 91px -34px -91px 32px 33px 138px 124px '../img/spritesheet.png' 'twitter-logo-hover';
$twitter_logo_name = 'twitter-logo';
$twitter_logo_x = 106px;
$twitter_logo_y = 0px;
$twitter_logo_offset_x = -106px;
$twitter_logo_offset_y = 0px;
$twitter_logo_width = 32px;
$twitter_logo_height = 33px;
$twitter_logo_total_width = 138px;
$twitter_logo_total_height = 124px;
$twitter_logo_image = '../img/spritesheet.png';
$twitter_logo = 106px 0px -106px 0px 32px 33px 138px 124px '../img/spritesheet.png' 'twitter-logo';
$spritesheet_width = 138px;
$spritesheet_height = 124px;
$spritesheet_image = '../img/spritesheet.png';
$spritesheet_sprites = $eng_ver_icon $fb_logo_hover $fb_logo $google_logo_hover $google_logo $header_logo_main $inst_logo_hover $inst_logo $mail_to_icon_hover $mail_to_icon $mouse_icon_hover $mouse_icon $twitter_logo_hover $twitter_logo;
$spritesheet = 138px 124px '../img/spritesheet.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
