/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$download_icon_name = 'download-icon';
$download_icon_x = 437px;
$download_icon_y = 88px;
$download_icon_offset_x = -437px;
$download_icon_offset_y = -88px;
$download_icon_width = 13px;
$download_icon_height = 15px;
$download_icon_total_width = 455px;
$download_icon_total_height = 206px;
$download_icon_image = '../img/spritesheet.png';
$download_icon = 437px 88px -437px -88px 13px 15px 455px 206px '../img/spritesheet.png' 'download-icon';
$eng_ver_icon_name = 'eng-ver-icon';
$eng_ver_icon_x = 199px;
$eng_ver_icon_y = 127px;
$eng_ver_icon_offset_x = -199px;
$eng_ver_icon_offset_y = -127px;
$eng_ver_icon_width = 19px;
$eng_ver_icon_height = 12px;
$eng_ver_icon_total_width = 455px;
$eng_ver_icon_total_height = 206px;
$eng_ver_icon_image = '../img/spritesheet.png';
$eng_ver_icon = 199px 127px -199px -127px 19px 12px 455px 206px '../img/spritesheet.png' 'eng-ver-icon';
$fb_logo_hover_name = 'fb-logo-hover';
$fb_logo_hover_x = 204px;
$fb_logo_hover_y = 173px;
$fb_logo_hover_offset_x = -204px;
$fb_logo_hover_offset_y = -173px;
$fb_logo_hover_width = 32px;
$fb_logo_hover_height = 33px;
$fb_logo_hover_total_width = 455px;
$fb_logo_hover_total_height = 206px;
$fb_logo_hover_image = '../img/spritesheet.png';
$fb_logo_hover = 204px 173px -204px -173px 32px 33px 455px 206px '../img/spritesheet.png' 'fb-logo-hover';
$fb_logo_name = 'fb-logo';
$fb_logo_x = 68px;
$fb_logo_y = 173px;
$fb_logo_offset_x = -68px;
$fb_logo_offset_y = -173px;
$fb_logo_width = 32px;
$fb_logo_height = 33px;
$fb_logo_total_width = 455px;
$fb_logo_total_height = 206px;
$fb_logo_image = '../img/spritesheet.png';
$fb_logo = 68px 173px -68px -173px 32px 33px 455px 206px '../img/spritesheet.png' 'fb-logo';
$google_logo_hover_name = 'google-logo-hover';
$google_logo_hover_x = 170px;
$google_logo_hover_y = 173px;
$google_logo_hover_offset_x = -170px;
$google_logo_hover_offset_y = -173px;
$google_logo_hover_width = 32px;
$google_logo_hover_height = 33px;
$google_logo_hover_total_width = 455px;
$google_logo_hover_total_height = 206px;
$google_logo_hover_image = '../img/spritesheet.png';
$google_logo_hover = 170px 173px -170px -173px 32px 33px 455px 206px '../img/spritesheet.png' 'google-logo-hover';
$google_logo_name = 'google-logo';
$google_logo_x = 0px;
$google_logo_y = 173px;
$google_logo_offset_x = 0px;
$google_logo_offset_y = -173px;
$google_logo_width = 32px;
$google_logo_height = 33px;
$google_logo_total_width = 455px;
$google_logo_total_height = 206px;
$google_logo_image = '../img/spritesheet.png';
$google_logo = 0px 173px 0px -173px 32px 33px 455px 206px '../img/spritesheet.png' 'google-logo';
$header_logo_main_name = 'header-logo-main';
$header_logo_main_x = 0px;
$header_logo_main_y = 71px;
$header_logo_main_offset_x = 0px;
$header_logo_main_offset_y = -71px;
$header_logo_main_width = 70px;
$header_logo_main_height = 54px;
$header_logo_main_total_width = 455px;
$header_logo_main_total_height = 206px;
$header_logo_main_image = '../img/spritesheet.png';
$header_logo_main = 0px 71px 0px -71px 70px 54px 455px 206px '../img/spritesheet.png' 'header-logo-main';
$inst_logo_hover_name = 'inst-logo-hover';
$inst_logo_hover_x = 102px;
$inst_logo_hover_y = 173px;
$inst_logo_hover_offset_x = -102px;
$inst_logo_hover_offset_y = -173px;
$inst_logo_hover_width = 32px;
$inst_logo_hover_height = 33px;
$inst_logo_hover_total_width = 455px;
$inst_logo_hover_total_height = 206px;
$inst_logo_hover_image = '../img/spritesheet.png';
$inst_logo_hover = 102px 173px -102px -173px 32px 33px 455px 206px '../img/spritesheet.png' 'inst-logo-hover';
$inst_logo_name = 'inst-logo';
$inst_logo_x = 34px;
$inst_logo_y = 173px;
$inst_logo_offset_x = -34px;
$inst_logo_offset_y = -173px;
$inst_logo_width = 32px;
$inst_logo_height = 33px;
$inst_logo_total_width = 455px;
$inst_logo_total_height = 206px;
$inst_logo_image = '../img/spritesheet.png';
$inst_logo = 34px 173px -34px -173px 32px 33px 455px 206px '../img/spritesheet.png' 'inst-logo';
$mail_to_icon_hover_name = 'mail-to-icon-hover';
$mail_to_icon_hover_x = 241px;
$mail_to_icon_hover_y = 127px;
$mail_to_icon_hover_offset_x = -241px;
$mail_to_icon_hover_offset_y = -127px;
$mail_to_icon_hover_width = 19px;
$mail_to_icon_hover_height = 12px;
$mail_to_icon_hover_total_width = 455px;
$mail_to_icon_hover_total_height = 206px;
$mail_to_icon_hover_image = '../img/spritesheet.png';
$mail_to_icon_hover = 241px 127px -241px -127px 19px 12px 455px 206px '../img/spritesheet.png' 'mail-to-icon-hover';
$mail_to_icon_name = 'mail-to-icon';
$mail_to_icon_x = 220px;
$mail_to_icon_y = 127px;
$mail_to_icon_offset_x = -220px;
$mail_to_icon_offset_y = -127px;
$mail_to_icon_width = 19px;
$mail_to_icon_height = 12px;
$mail_to_icon_total_width = 455px;
$mail_to_icon_total_height = 206px;
$mail_to_icon_image = '../img/spritesheet.png';
$mail_to_icon = 220px 127px -220px -127px 19px 12px 455px 206px '../img/spritesheet.png' 'mail-to-icon';
$mouse_icon_hover_name = 'mouse-icon-hover';
$mouse_icon_hover_x = 295px;
$mouse_icon_hover_y = 173px;
$mouse_icon_hover_offset_x = -295px;
$mouse_icon_hover_offset_y = -173px;
$mouse_icon_hover_width = 21px;
$mouse_icon_hover_height = 32px;
$mouse_icon_hover_total_width = 455px;
$mouse_icon_hover_total_height = 206px;
$mouse_icon_hover_image = '../img/spritesheet.png';
$mouse_icon_hover = 295px 173px -295px -173px 21px 32px 455px 206px '../img/spritesheet.png' 'mouse-icon-hover';
$mouse_icon_name = 'mouse-icon';
$mouse_icon_x = 272px;
$mouse_icon_y = 173px;
$mouse_icon_offset_x = -272px;
$mouse_icon_offset_y = -173px;
$mouse_icon_width = 21px;
$mouse_icon_height = 32px;
$mouse_icon_total_width = 455px;
$mouse_icon_total_height = 206px;
$mouse_icon_image = '../img/spritesheet.png';
$mouse_icon = 272px 173px -272px -173px 21px 32px 455px 206px '../img/spritesheet.png' 'mouse-icon';
$popup_close_hover_name = 'popup-close-hover';
$popup_close_hover_x = 129px;
$popup_close_hover_y = 127px;
$popup_close_hover_offset_x = -129px;
$popup_close_hover_offset_y = -127px;
$popup_close_hover_width = 22px;
$popup_close_hover_height = 21px;
$popup_close_hover_total_width = 455px;
$popup_close_hover_total_height = 206px;
$popup_close_hover_image = '../img/spritesheet.png';
$popup_close_hover = 129px 127px -129px -127px 22px 21px 455px 206px '../img/spritesheet.png' 'popup-close-hover';
$popup_close_name = 'popup-close';
$popup_close_x = 153px;
$popup_close_y = 127px;
$popup_close_offset_x = -153px;
$popup_close_offset_y = -127px;
$popup_close_width = 22px;
$popup_close_height = 21px;
$popup_close_total_width = 455px;
$popup_close_total_height = 206px;
$popup_close_image = '../img/spritesheet.png';
$popup_close = 153px 127px -153px -127px 22px 21px 455px 206px '../img/spritesheet.png' 'popup-close';
$popup_success_name = 'popup-success';
$popup_success_x = 0px;
$popup_success_y = 0px;
$popup_success_offset_x = 0px;
$popup_success_offset_y = 0px;
$popup_success_width = 455px;
$popup_success_height = 69px;
$popup_success_total_width = 455px;
$popup_success_total_height = 206px;
$popup_success_image = '../img/spritesheet.png';
$popup_success = 0px 0px 0px 0px 455px 69px 455px 206px '../img/spritesheet.png' 'popup-success';
$step_trash_close_name = 'step-trash-close';
$step_trash_close_x = 177px;
$step_trash_close_y = 127px;
$step_trash_close_offset_x = -177px;
$step_trash_close_offset_y = -127px;
$step_trash_close_width = 20px;
$step_trash_close_height = 20px;
$step_trash_close_total_width = 455px;
$step_trash_close_total_height = 206px;
$step_trash_close_image = '../img/spritesheet.png';
$step_trash_close = 177px 127px -177px -127px 20px 20px 455px 206px '../img/spritesheet.png' 'step-trash-close';
$step_trash_success_name = 'step-trash-success';
$step_trash_success_x = 0px;
$step_trash_success_y = 127px;
$step_trash_success_offset_x = 0px;
$step_trash_success_offset_y = -127px;
$step_trash_success_width = 54px;
$step_trash_success_height = 44px;
$step_trash_success_total_width = 455px;
$step_trash_success_total_height = 206px;
$step_trash_success_image = '../img/spritesheet.png';
$step_trash_success = 0px 127px 0px -127px 54px 44px 455px 206px '../img/spritesheet.png' 'step-trash-success';
$submenu_close_name = 'submenu-close';
$submenu_close_x = 437px;
$submenu_close_y = 71px;
$submenu_close_offset_x = -437px;
$submenu_close_offset_y = -71px;
$submenu_close_width = 14px;
$submenu_close_height = 15px;
$submenu_close_total_width = 455px;
$submenu_close_total_height = 206px;
$submenu_close_image = '../img/spritesheet.png';
$submenu_close = 437px 71px -437px -71px 14px 15px 455px 206px '../img/spritesheet.png' 'submenu-close';
$trash_type_1_name = 'trash-type-1';
$trash_type_1_x = 56px;
$trash_type_1_y = 127px;
$trash_type_1_offset_x = -56px;
$trash_type_1_offset_y = -127px;
$trash_type_1_width = 71px;
$trash_type_1_height = 30px;
$trash_type_1_total_width = 455px;
$trash_type_1_total_height = 206px;
$trash_type_1_image = '../img/spritesheet.png';
$trash_type_1 = 56px 127px -56px -127px 71px 30px 455px 206px '../img/spritesheet.png' 'trash-type-1';
$trash_type_2_name = 'trash-type-2';
$trash_type_2_x = 291px;
$trash_type_2_y = 71px;
$trash_type_2_offset_x = -291px;
$trash_type_2_offset_y = -71px;
$trash_type_2_width = 71px;
$trash_type_2_height = 34px;
$trash_type_2_total_width = 455px;
$trash_type_2_total_height = 206px;
$trash_type_2_image = '../img/spritesheet.png';
$trash_type_2 = 291px 71px -291px -71px 71px 34px 455px 206px '../img/spritesheet.png' 'trash-type-2';
$trash_type_3_name = 'trash-type-3';
$trash_type_3_x = 218px;
$trash_type_3_y = 71px;
$trash_type_3_offset_x = -218px;
$trash_type_3_offset_y = -71px;
$trash_type_3_width = 71px;
$trash_type_3_height = 46px;
$trash_type_3_total_width = 455px;
$trash_type_3_total_height = 206px;
$trash_type_3_image = '../img/spritesheet.png';
$trash_type_3 = 218px 71px -218px -71px 71px 46px 455px 206px '../img/spritesheet.png' 'trash-type-3';
$trash_type_4_name = 'trash-type-4';
$trash_type_4_x = 72px;
$trash_type_4_y = 71px;
$trash_type_4_offset_x = -72px;
$trash_type_4_offset_y = -71px;
$trash_type_4_width = 71px;
$trash_type_4_height = 53px;
$trash_type_4_total_width = 455px;
$trash_type_4_total_height = 206px;
$trash_type_4_image = '../img/spritesheet.png';
$trash_type_4 = 72px 71px -72px -71px 71px 53px 455px 206px '../img/spritesheet.png' 'trash-type-4';
$trash_type_5_name = 'trash-type-5';
$trash_type_5_x = 364px;
$trash_type_5_y = 71px;
$trash_type_5_offset_x = -364px;
$trash_type_5_offset_y = -71px;
$trash_type_5_width = 71px;
$trash_type_5_height = 34px;
$trash_type_5_total_width = 455px;
$trash_type_5_total_height = 206px;
$trash_type_5_image = '../img/spritesheet.png';
$trash_type_5 = 364px 71px -364px -71px 71px 34px 455px 206px '../img/spritesheet.png' 'trash-type-5';
$trash_type_6_name = 'trash-type-6';
$trash_type_6_x = 145px;
$trash_type_6_y = 71px;
$trash_type_6_offset_x = -145px;
$trash_type_6_offset_y = -71px;
$trash_type_6_width = 71px;
$trash_type_6_height = 50px;
$trash_type_6_total_width = 455px;
$trash_type_6_total_height = 206px;
$trash_type_6_image = '../img/spritesheet.png';
$trash_type_6 = 145px 71px -145px -71px 71px 50px 455px 206px '../img/spritesheet.png' 'trash-type-6';
$twitter_logo_hover_name = 'twitter-logo-hover';
$twitter_logo_hover_x = 136px;
$twitter_logo_hover_y = 173px;
$twitter_logo_hover_offset_x = -136px;
$twitter_logo_hover_offset_y = -173px;
$twitter_logo_hover_width = 32px;
$twitter_logo_hover_height = 33px;
$twitter_logo_hover_total_width = 455px;
$twitter_logo_hover_total_height = 206px;
$twitter_logo_hover_image = '../img/spritesheet.png';
$twitter_logo_hover = 136px 173px -136px -173px 32px 33px 455px 206px '../img/spritesheet.png' 'twitter-logo-hover';
$twitter_logo_name = 'twitter-logo';
$twitter_logo_x = 238px;
$twitter_logo_y = 173px;
$twitter_logo_offset_x = -238px;
$twitter_logo_offset_y = -173px;
$twitter_logo_width = 32px;
$twitter_logo_height = 33px;
$twitter_logo_total_width = 455px;
$twitter_logo_total_height = 206px;
$twitter_logo_image = '../img/spritesheet.png';
$twitter_logo = 238px 173px -238px -173px 32px 33px 455px 206px '../img/spritesheet.png' 'twitter-logo';
$spritesheet_width = 455px;
$spritesheet_height = 206px;
$spritesheet_image = '../img/spritesheet.png';
$spritesheet_sprites = $download_icon $eng_ver_icon $fb_logo_hover $fb_logo $google_logo_hover $google_logo $header_logo_main $inst_logo_hover $inst_logo $mail_to_icon_hover $mail_to_icon $mouse_icon_hover $mouse_icon $popup_close_hover $popup_close $popup_success $step_trash_close $step_trash_success $submenu_close $trash_type_1 $trash_type_2 $trash_type_3 $trash_type_4 $trash_type_5 $trash_type_6 $twitter_logo_hover $twitter_logo;
$spritesheet = 455px 206px '../img/spritesheet.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
