@require 'normalize.css'
@require 'jquery.fancybox.css'
@require 'sprites'
@require 'common'

html,
body
    height 100%

.page-wrapper
    position relative
    font-family 'Roboto', sans-serif
    height auto
    min-height 100%
    background #F7FAFC
    min-width 1200px

/* Врапперы */

.header
    width 100%
    min-width 1200px
    // max-width 1280px
    // min-width 1200px
    // margin 0 auto
    position relative

/* Основные стили */

.header
    position relative
    background-image url('../img/header-bg.jpg')
    background-repeat no-repeat
    background-size cover
    background-position center center
    min-height 590px

    &__content
        width 1160px
        margin 0 auto
        padding 0 20px

    &__nav-group
        position relative
        display inline-block
        vertical-align top
        margin-right -.25em
        width 853px
        min-height 90px
        border-bottom 1px solid #FFF

        &:after
            position absolute
            content ''
            bottom -1px
            left -60px
            width 60px
            height 1px
            background #FFF

    &__logo-wrapper
        display inline-block
        vertical-align middle
        position relative
        width 90px
        height 90px
        margin-left 45px
        margin-right -.25em

    &__logo
        sprite($header_logo_main)
        bottom 12px

    &__nav-wrapper
        display inline-block
        vertical-align middle
        margin-right -.25em
        margin-left 50px

    &__nav-list
        list-style none
        margin 0
        padding 0

    &__nav-item
        display inline-block
        padding 25px 0 15px
        margin-right -.25em

    &__nav-item + &__nav-item
        margin-left 50px

    &__nav-link
        display inline-block
        font-size 14px
        font-weight 300
        padding-bottom 2px
        border-bottom 1px solid transparent
        color #FFF

        &:hover
            text-decoration none
            border-bottom 1px solid #FFF

    &__feedback-group
        display inline-block
        vertical-align top
        margin-right -.25em
        margin-left 15px
        margin-top 15px
        border-left 1px solid #FFF
        padding 5px 0 0 15px
        width 210px
        min-height 161px
        font-weight 300

    &__tel
        display inline-block
        font-size 24px
        color #FFF
        margin-bottom 5px

        &:hover
            text-decoration none

    &__lang,
    &__mail-link
        position relative
        display inline-block
        font-size 14px
        width 120px
        color #FFF
        margin-bottom 5px

        &:after
            position absolute
            content ''
            top 0
            bottom 0
            right 0
            margin auto 0

    &__lang

        &:after
            sprite($eng_ver_icon)

    &__mail-link

        &:after
            sprite($mail_to_icon)

    &__mail-link:hover

        &:after
            sprite($mail_to_icon_hover)

    &__social-title
        font-weight 100
        color #FFF
        font-size 14px
        margin-bottom 10px

.header__social-item
    display inline-block
    vertical-align middle
    margin-right -.25em
    transition none

    &--in
        sprite($inst_logo)

        &:hover
            sprite($inst_logo_hover)

    &--gg
        sprite($google_logo)

        &:hover
            sprite($google_logo_hover)

    &--tw
        sprite($twitter_logo)

        &:hover
            sprite($twitter_logo_hover)

    &--fb
        sprite($fb_logo)

        &:hover
            sprite($fb_logo_hover)

.header__social-item + .header__social-item
    margin-left 20px

.header-submenu
    position absolute
    left 110px
    top 91px
    width 540px
    min-height 188px
    background #FF3333
    display none
    padding 12px 0 15px

    &:after
        position absolute
        content ''
        left 20px
        bottom 20px
        width 482px
        background #FFF
        height 1px

    &__list
        list-style none
        margin 0
        max-width 160px
        padding-left 20px
        padding-right 20px
        display inline-block
        vertical-align top
        margin-right -.25em
        min-height 170px

    &__list + &__list
        border-left 1px solid #FFF

    &__item
        display block

    &__link
        position relative
        display block
        font-weight 300
        font-size 11px
        color #FFF
        margin-bottom 10px

        &--download:after
            position absolute
            content ''
            top -2px
            right -18px
            sprite($download_icon)

    &__close
        position absolute
        top 5px
        right 5px
        sprite($submenu_close)
        cursor pointer

/* Основная часть хедера */

.button-fill
    position relative
    display inline-block
    padding 9px 30px
    background rgba(#FF0000, .8)
    border-radius 20px
    color #FFF

    &:after
        position absolute
        content ''
        top 0
        left 0
        right 0
        bottom 0
        border-radius 20px
        transition all .2s ease 0s

    &:hover
        text-decoration none

        &:after
            background rgba(#FFF, .2)

.header

    &__main
        text-align center

    &__title
        font-weight 100
        font-size 48px
        margin-top 90px
        color #FFF
        line-height 1

    &__link-to-form
        margin-top 30px
        font-size 22px
        font-weight 100

/* Форма в хедере */

.header-form-wrapper
    position absolute
    top 0
    right 0
    min-height 100%
    height 100vh
    width 540px
    padding 0 50px
    background rgba(#000, .85)
    color #FFF
    display none

    &__close
        position absolute
        top 40px
        left 480px
        sprite($popup_close)
        cursor pointer

        &:hover
            sprite($popup_close_hover)

.fancy-form
    text-align center
    width 460px

    &__title
        margin-top 70px
        font-size 36px
        font-weight 100
        display inline-block
        padding-bottom 5px
        border-bottom 1px solid #999
        margin-bottom 25px
        color #FFF

    &__field
        text-align left
        position relative
        padding 0.5rem 0 0.5rem 0

    &__field:after,
    &__field:before
        content ''
        height 0.0625rem
        width 100%
        position absolute
        bottom 0.375rem
        left 0
        background-color #E7E7E7

    &__field:after
        background #FF0000
        box-shadow 0 -0.0625rem 0 0 #FF0000
        transform scaleX(0)
        transition transform 0.3s

    &__field.is-focused::after
        transform scaleX(1)

    &__label
        position relative
        margin 0
        display block
        padding 0 0.5rem
        font-size 0.75rem
        line-height 1rem
        color rgba(#FFF, .8)
        font-weight 400
        transform translateY(1.5rem) scale(1.2)
        transition transform 0.3s
        transform-origin: 0 50%

    .is-focused &__label
        color #FF0000

    .has-label &__label
        transform translateY(0) scale(0.85)

    &__input
        position relative
        display block
        margin-bottom 0
        width 100%
        padding 0.3rem 0.4rem
        line-height 1rem
        font-size 1rem
        background transparent
        border none
        -webkit-appearance none
        outline none
        color rgba(#FFF, .8)

    &__submit
        margin-top 40px
        font-size 16px
        font-weight 100
        border none
        transition all .2s ease 0s

        &:hover
            background-color #DD393A

    &__info
        margin-top 40px
        font-weight 100
        font-size 18px
        color rgba(#FFF, .8)

    &__info-mail
        display block
        font-size 16px
        color rgba(#FFF, .8)

    &__success
        display none

    &__success-text
        margin-top 205px
        font-size 30px
        font-weight 100
        color rgba(#FFF, .8)

    &__success-img
        margin-top 40px
        sprite($popup_success)
