@require 'normalize.css'
@require 'jquery.fancybox.css'
@require 'sprites'
@require 'common'

html,
body
    height 100%

.page-wrapper
    position relative
    font-family 'Roboto', sans-serif
    height auto
    min-height 100%
    background #F7FAFC
    min-width 1200px

/* Врапперы */

.header
    width 100%
    min-width 1200px
    // max-width 1280px
    // min-width 1200px
    // margin 0 auto
    position relative

/* Основные стили */

.header
    background-image url('../img/header-bg.jpg')
    background-repeat no-repeat
    background-size cover
    background-position center center
    min-height 590px

    &__content
        width 1160px
        margin 0 auto
        padding 0 20px

    &__nav-group
        position relative
        display inline-block
        vertical-align top
        margin-right -.25em
        width 853px
        min-height 90px
        border-bottom 1px solid #FFF

        &:after
            position absolute
            content ''
            bottom -1px
            left -60px
            width 60px
            height 1px
            background #FFF

    &__logo-wrapper
        display inline-block
        vertical-align middle
        position relative
        width 90px
        height 90px
        margin-left 45px
        margin-right -.25em

    &__logo
        sprite($header_logo_main)
        bottom 12px

    &__nav-wrapper
        display inline-block
        vertical-align middle
        margin-right -.25em
        margin-left 50px

    &__nav-list
        list-style none
        margin 0
        padding 0

    &__nav-item
        display inline-block
        padding 25px 0 15px
        margin-right -.25em

    &__nav-item + &__nav-item
        margin-left 50px

    &__nav-link
        display inline-block
        font-size 14px
        font-weight 300
        padding-bottom 2px
        border-bottom 1px solid transparent
        color #FFF

        &:hover
            text-decoration none
            border-bottom 1px solid #FFF

    &__feedback-group
        display inline-block
        vertical-align top
        margin-right -.25em
        margin-left 15px
        margin-top 15px
        border-left 1px solid #FFF
        padding 5px 0 0 15px
        width 210px
        min-height 161px
        font-weight 300

    &__tel
        display inline-block
        font-size 24px
        color #FFF
        margin-bottom 5px

        &:hover
            text-decoration none

    &__lang,
    &__mail-link
        position relative
        display inline-block
        font-size 14px
        width 120px
        color #FFF
        margin-bottom 5px

        &:after
            position absolute
            content ''
            top 0
            bottom 0
            right 0
            margin auto 0

    &__lang

        &:after
            sprite($eng_ver_icon)

    &__mail-link

        &:after
            sprite($mail_to_icon)

    &__mail-link:hover

        &:after
            sprite($mail_to_icon_hover)

    &__social-title
        font-weight 100
        color #FFF
        font-size 14px
        margin-bottom 10px

.header__social-item
    display inline-block
    vertical-align middle
    margin-right -.25em
    transition none

    &--in
        sprite($inst_logo)

        &:hover
            sprite($inst_logo_hover)

    &--gg
        sprite($google_logo)

        &:hover
            sprite($google_logo_hover)

    &--tw
        sprite($twitter_logo)

        &:hover
            sprite($twitter_logo_hover)

    &--fb
        sprite($fb_logo)

        &:hover
            sprite($fb_logo_hover)

.header__social-item + .header__social-item
    margin-left 20px

.header-submenu
    position absolute
    left 110px
    top 91px
    width 540px
    min-height 188px
    background #FF3333
    display none
    padding 12px 0 15px

    &:after
        position absolute
        content ''
        left 20px
        bottom 20px
        width 482px
        background #FFF
        height 1px

    &__list
        list-style none
        margin 0
        max-width 160px
        padding-left 20px
        padding-right 20px
        display inline-block
        vertical-align top
        margin-right -.25em
        min-height 170px

    &__list + &__list
        border-left 1px solid #FFF

    &__item
        display block

    &__link
        position relative
        display block
        font-weight 300
        font-size 11px
        color #FFF
        margin-bottom 10px

        &--download:after
            position absolute
            content ''
            top -2px
            right -18px
            sprite($download_icon)

    &__close
        position absolute
        top 5px
        right 5px
        sprite($submenu_close)
        cursor pointer


