@import 'normalize.css';
@import 'jquery.fancybox.css';
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-helper {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}
a:hover {
  text-decoration: underline;
}
.form-error {
  border: 1px solid #f00 !important;
}
.hidden {
  display: none !important;
}
.absl-cntr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.absl-cntr-x {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
html,
body {
  height: 100%;
}
.page-wrapper {
  position: relative;
  font-family: 'Roboto', sans-serif;
  height: auto;
  min-height: 100%;
  background: #f7fafc;
  min-width: 1200px;
}
/* Врапперы */
.header {
  width: 100%;
  min-width: 1200px;
  position: relative;
}
/* Основные стили */
.header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 590px;
}
.header__content {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__nav-group {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: -0.25em;
  width: 853px;
  min-height: 90px;
  border-bottom: 1px solid #fff;
}
.header__nav-group:after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: -60px;
  width: 60px;
  height: 1px;
  background: #fff;
}
.header__logo-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 90px;
  height: 90px;
  margin-left: 45px;
  margin-right: -0.25em;
}
.header__logo {
  background-image: url("../img/spritesheet.png");
  background-position: 0px 0px;
  width: 70px;
  height: 54px;
  bottom: 12px;
}
.header__nav-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
  margin-left: 50px;
}
.header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav-item {
  display: inline-block;
  padding: 25px 0 15px;
  margin-right: -0.25em;
}
.header__nav-item + .header__nav-item {
  margin-left: 50px;
}
.header__nav-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  color: #fff;
}
.header__nav-link:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.header__feedback-group {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.25em;
  margin-left: 15px;
  margin-top: 15px;
  border-left: 1px solid #fff;
  padding: 5px 0 0 15px;
  width: 210px;
  min-height: 161px;
  font-weight: 300;
}
.header__tel {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  margin-bottom: 5px;
}
.header__tel:hover {
  text-decoration: none;
}
.header__lang,
.header__mail-link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  width: 120px;
  color: #fff;
  margin-bottom: 5px;
}
.header__lang:after,
.header__mail-link:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}
.header__lang:after {
  background-image: url("../img/spritesheet.png");
  background-position: -114px -91px;
  width: 19px;
  height: 12px;
}
.header__mail-link:after {
  background-image: url("../img/spritesheet.png");
  background-position: -72px -35px;
  width: 19px;
  height: 12px;
}
.header__mail-link:hover:after {
  background-image: url("../img/spritesheet.png");
  background-position: -106px -70px;
  width: 19px;
  height: 12px;
}
.header__social-title {
  font-weight: 100;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
.header__social-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
  -webkit-transition: none;
          transition: none;
}
.header__social-item--in {
  background-image: url("../img/spritesheet.png");
  background-position: -72px 0px;
  width: 32px;
  height: 33px;
}
.header__social-item--in:hover {
  background-image: url("../img/spritesheet.png");
  background-position: 0px -91px;
  width: 32px;
  height: 33px;
}
.header__social-item--gg {
  background-image: url("../img/spritesheet.png");
  background-position: -106px 0px;
  width: 32px;
  height: 33px;
}
.header__social-item--gg:hover {
  background-image: url("../img/spritesheet.png");
  background-position: -68px -56px;
  width: 32px;
  height: 33px;
}
.header__social-item--tw {
  background-image: url("../img/spritesheet.png");
  background-position: -106px -35px;
  width: 32px;
  height: 33px;
}
.header__social-item--tw:hover {
  background-image: url("../img/spritesheet.png");
  background-position: -34px -91px;
  width: 32px;
  height: 33px;
}
.header__social-item--fb {
  background-image: url("../img/spritesheet.png");
  background-position: -34px -56px;
  width: 32px;
  height: 33px;
}
.header__social-item--fb:hover {
  background-image: url("../img/spritesheet.png");
  background-position: 0px -56px;
  width: 32px;
  height: 33px;
}
.header__social-item + .header__social-item {
  margin-left: 20px;
}
.header-submenu {
  position: absolute;
  left: 110px;
  top: 91px;
  width: 540px;
  min-height: 188px;
  background: #f33;
  display: none;
  padding: 12px 0 15px;
}
.header-submenu:after {
  position: absolute;
  content: '';
  left: 20px;
  bottom: 20px;
  width: 482px;
  background: #fff;
  height: 1px;
}
.header-submenu__list {
  list-style: none;
  margin: 0;
  max-width: 160px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: -0.25em;
  min-height: 170px;
}
.header-submenu__list + .header-submenu__list {
  border-left: 1px solid #fff;
}
.header-submenu__item {
  display: block;
}
.header-submenu__link {
  position: relative;
  display: block;
  font-weight: 300;
  font-size: 11px;
  color: #fff;
  margin-bottom: 10px;
}
.header-submenu__link--download:after {
  position: absolute;
  content: '';
  top: -2px;
  right: -18px;
  background-image: url("../img/spritesheet.png");
  background-position: -140px 0px;
  width: 13px;
  height: 15px;
}
.header-submenu__close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url("../img/spritesheet.png");
  background-position: -114px -105px;
  width: 14px;
  height: 15px;
  cursor: pointer;
}
/* Основная часть хедера */
.button-fill {
  position: relative;
  display: inline-block;
  padding: 9px 30px;
  background: rgba(255,0,0,0.8);
  border-radius: 20px;
  color: #fff;
}
.button-fill:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}
.button-fill:hover {
  text-decoration: none;
}
.button-fill:hover:after {
  background: rgba(255,255,255,0.2);
}
.header__main {
  text-align: center;
}
.header__title {
  font-weight: 100;
  font-size: 48px;
  margin-top: 90px;
  color: #fff;
  line-height: 1;
}
.header__link-to-form {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 100;
}
